$small: 480px;
$medium: 1024px;

.imagediv {
  display: flex;
  justify-content: flex-end;
  align-items: bottom;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  font-family: Inter;

  @media screen and (max-width: $medium) {
    height: 50vh;
  }



  .content {
    z-index: 100;
    margin: 3rem;
    @media screen and (max-width: $medium) {
      margin:1rem;
    }
    p {
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
  }
}
