.heading {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-weight: bold;
  font-family: Georgia;
  color: #2f2e2e;
  text-transform: capitalize;
}
