.footer {
  background-color: #ffe5ce;
  padding: 3rem;
  color: #2f2e2e;
  font-family: Inter;

  .mail_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .credits p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
  }

  .input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      width: 50vw;
      padding: 0.5rem;
      outline: 1px solid #2f2e2e;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      background-color: none;
    }
    button {
      width: 50vw;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      background-color: #2f2e2e;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #2f2e2e95;
      }
    }
  }
}
