.card {
  margin:  2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card_details {
    padding-bottom: 0.5rem;
    text-align: center;
    width: 80%;
    margin-top:-4rem;

    hr {
      width: 1rem;
      height: 3px;
      color: black;
      background-color: black;
    }
  }
}
