.navbar {
  background-color: #ffe5ce;
  padding: 0.3rem;
  color: #2f2e2e;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width:100vw;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 100;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;

      li {
        margin: 0 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #ff8a00;
        }
      }
    }
  }

  .sociallinks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .socialicon {
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      cursor: pointer;
    }
  }
}
