html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Georgia, Inter;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

title{
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
}